<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
     <link rel="stylesheet" href="css/grid.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
<script src="js/grid.js"></script>
</head>    
<body>
    <div ng-app="ShaniquaApp" class="pure-g-r" ng-controller="GridController as grid" data-ng-init="grid.init()" >
        <div class ="pure-u-1-1"> {{grid.StageName}}</div>
        <div class="pure-u-1-4"> <h2> objectives:</h2>
            <ul class="unstyled">
                <li ng-repeat="objective in  grid.Objectives" class='completed-{{objective.completed}}'>
                    {{objective.description}} : {{objective.timer}}
                </li>
            </ul>
       </div>
        <div class="pure-u-1-2" >
            <div class ="gridPoint" style ="width: {{point.size}}%;   padding-bottom: {{point.size}}%; background-color: {{point.image}}"  ng-repeat="point in grid.Grids" ng-click = "grid.checkGridPoint(point)" >
            </div>
        </div>
       
    </div>   
</body>    
    

